{% extends "layout.html.twig" %}

{# Keywords from meta 'keyword' #}
{% block keywords %}homepage, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}Homepage{% endblock %}

{# Page Title present on h1 markup #}
{% block page_title %}Homepage{% endblock %}

{# Body of the page #}
{% block content %}
    <section class="col-md-8 col-sm-8 col-xs-8">

    </section>
{% endblock %}
