/*
 * This file is part of Media-Client.
 *
 * Media-Client is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Media-Client is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Media-Library. If not, see <http://www.gnu.org/licenses/>.
 */
body {
    padding-top: 70px;
}

footer {
    border-top: 1px solid #DDD;
}

footer p {
    padding-top: 10px;
}

/* Add flag for Japan */
.flag-icon-ja {
    background-image: url(../../vendor/components/flag-icon-css/flags/4x3/jp.svg);
}

/* Add flag for Great Britain */
.flag-icon-en {
    background-image: url(../../vendor/components/flag-icon-css/flags/4x3/gb.svg);
}
